[submodule "plugins/emacs-color-theme-solarized"]
	path = plugins/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "plugins/rainbow-mode"]
	path = plugins/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/magit/magit.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:chao787/yasnippet.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:chao787/RSnippet.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "plugins/popup"]
	path = plugins/popup
	url = https://github.com/emacsmirror/popup.git
[submodule "plugins/auctex"]
	path = plugins/auctex
	url = git@github.com:chao787/auctex.git
[submodule "plugins/jade-mode"]
	path = plugins/jade-mode
	url = git://github.com/brianc/jade-mode.git
[submodule "plugins/emacs-jedi"]
	path = plugins/emacs-jedi
	url = git@github.com:tkf/emacs-jedi.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = git@github.com:technomancy/clojure-mode.git
[submodule "plugins/nrepl"]
	path = plugins/nrepl
	url = git://github.com/kingtim/nrepl.el.git
[submodule "plugins/ac-nrepl"]
	path = plugins/ac-nrepl
	url = git@github.com:purcell/ac-nrepl.git
[submodule "plugins/git-modes"]
	path = plugins/git-modes
	url = git@github.com:lunaryorn/git-modes.git
[submodule "plugins/emacs-quickrun"]
	path = plugins/emacs-quickrun
	url = git@github.com:syohex/emacs-quickrun.git
