[submodule "plugins/emacs-color-theme-solarized"]
	path = plugins/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "plugins/rainbow-mode"]
	path = plugins/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/magit/magit.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:chao787/yasnippet.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:chao787/RSnippet.git
