[submodule "plugins/rainbow-mode"]
	path = plugins/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:merrickluo/RSnippet.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "plugins/popup"]
	path = plugins/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "plugins/jade-mode"]
	path = plugins/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule "plugins/emacs-jedi"]
	path = plugins/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "plugins/ac-nrepl"]
	path = plugins/ac-nrepl
	url = https://github.com/clojure-emacs/ac-nrepl.git
[submodule "plugins/emacs-quickrun"]
	path = plugins/emacs-quickrun
	url = https://github.com/syohex/emacs-quickrun.git
[submodule "plugins/rainbow-delimiters"]
	path = plugins/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "plugins/git-modes"]
	path = plugins/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "plugins/cider"]
	path = plugins/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "plugins/ggtags"]
	path = plugins/ggtags
	url = https://github.com/leoliu/ggtags.git
[submodule "plugins/dash"]
	path = plugins/dash
	url = https://github.com/magnars/dash.el.git
[submodule "plugins/emacs-python-environment"]
	path = plugins/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment.git
[submodule "plugins/scala-mode2"]
	path = plugins/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule "plugins/rust-mode"]
	path = plugins/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "plugins/geiser"]
	path = plugins/geiser
	url = https://github.com/jaor/geiser.git
[submodule "plugins/spinner.el"]
	path = plugins/spinner.el
	url = https://github.com/Malabarba/spinner.el.git
[submodule "plugins/seq.el"]
	path = plugins/seq.el
	url = https://github.com/NicolasPetton/seq.el.git
[submodule "plugins/use-package"]
	path = plugins/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "plugins/ac-cider"]
	path = plugins/ac-cider
	url = https://github.com/clojure-emacs/ac-cider.git
[submodule "plugins/jdee"]
	path = plugins/jdee
	url = https://github.com/jdee-emacs/jdee.git
[submodule "plugins/flycheck"]
	path = plugins/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "plugins/with-editor"]
	path = plugins/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "plugins/go-mode"]
	path = plugins/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "plugins/go-eldoc"]
	path = plugins/go-eldoc
	url = https://github.com/syohex/emacs-go-eldoc.git
[submodule "plugins/rich-minority"]
	path = plugins/rich-minority
	url = https://github.com/Malabarba/rich-minority.git
[submodule "plugins/smart-mode-line"]
	path = plugins/smart-mode-line
	url = https://github.com/Malabarba/smart-mode-line.git
[submodule "plugins/neotree"]
	path = plugins/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "plugins/rich-minority"]
	path = plugins/rich-minority
	url = https://github.com/Malabarba/rich-minority.git
[submodule "plugins/smart-mode-line"]
	path = plugins/smart-mode-line
	url = https://github.com/Malabarba/smart-mode-line.git
[submodule "plugins/apib-mode"]
	path = plugins/apib-mode
	url = https://github.com/w-vi/apib-mode.git
